/* #region RESET */
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}
/* #endregion RESET */

/* #region DEBUG */
body{
    background-color: greenyellow;
}

.row, .flex{
    border: 1px dashed red;
}

.row > *, .flex > *{
    border: 1px dashed blue;
}
/* #endregion DEBUG */

/* #region FLEX */
.flex{
    display: flex;
}

.row{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.grow{
    flex-grow: 1;
}
/* #endregion FLEX */

/* #region GENERAL */
:root{
    --gap: 1rem;
}

.container-xl{
    max-width: 1140px;
    padding: 0px 1rem;
    margin: 0 auto;
}

html{
    font-family: "PT Sans", sans-serif;
    font-size: clamp(12px, 1.5vw, 16px);
}

/* #endregion GENERAL */

/* #region BUTTONS */
button{
    border-radius: 25px;
    padding: 0.5em 1em;
    font-size: inherit;
}
/* #endregion BUTTONS */

/* #region HEADER */
header{
    background-color: #0084FD;
    padding: 1rem 0;
    color: white;
    position: sticky;
}

header #hamb{
    display: none;
}

header img.logo{
    height: 2rem;
}

header .row{
    align-items: center;
}

header .flex{
    gap: calc(var(--gap) + 0.5rem);
}

header .row{
    justify-content: space-between;
}

header .hamburger{
    display: none;
}
/* #endregion HEADER */


/* #region RESPONSIVE */
@media screen and (max-width: 992px) {
    /*header*/
    header .hamburger{
        display: block;
        transition: 0.3s;
    }

    header .col:first-child{
        align-self: flex-start;
    }

    header .col:last-child, ul{
        flex-direction: column;
        align-items: flex-end;
    }

    header nav, header button{
        display: none;
    }

    #hamb:checked ~ .hamburger{
        transform: rotate(90deg);
    }

    #hamb:checked ~ nav{
        display: block;
    }
}

@media screen and (max-width: 768px) {
    /*header same as tablet*/
    
}

/* #endregion RESPONSIVE */